@import "bootstrap";
@import "simple_calendar";

* {
  box-sizing: border-box;
 }

body {
  background-color: #FEDCBD;
}

// ヘッダー
.container-flued {
  display: flex;
  
}
.navbar-bran {
  background-color: white;
  width: auto;
  height: auto;
  padding-left: 5px;
  border-radius: 15px;
  color: brown;
  font-size: 35px;
  
}

.header-btn-right {
  display: flex;
  
}

.new {
  
}

// エラー画面
.error-message {
  list-style: none;
}

.text {
  list-style: none;
}




// ログイン画面 
.form-wrap {
  position: relative;
  text-align: center;
  border: 1px solid brown ;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border-radius: 50%;
}

.form-wrap-inner {
  margin:  30px 0;
}

.form-header {
  text-align: center;
}

.form-header-text {
  border: 1px solid white ;
  width: 100px;
  text-align: center;
  margin-left: 150px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  margin-left: 200px;
}

.field {
  margin-bottom: 30px;
}

.field-text-1 {
  border: 1px solid white ;
  width: 100px;
  text-align: center;
  margin-bottom: 25px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  margin-top: 25px;
}
.field-text {
  border: 1px solid white ;
  width: 100px;
  text-align: center;
  margin-bottom: 25px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
}

form-text {
  border: 1px solid brown ;
}

.button {
}
.btn  {
  border: 1px solid white ;
  width: 150px;
  text-align: center;
  margin-left: 175px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  margin-right: 100px;
  margin-top: 20px;
}

.actions {
  margin-right: 75px;
  margin-bottom: 20px;
}

a {
  margin-right: 75px;
}

// サインアップ画面
.form-wrap-sign-up {
  position: relative;
  text-align: center;
  border: 1px solid brown ;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border-radius: 50%;
  padding-top: 25px;
}

.field-2 {

}

.form-header-text-sign-up {
  border: 1px solid white ;
  width: 150px;
  text-align: center;
  margin-bottom: 25px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  margin: 15px 0 0 173px;
  font-size: 20px;
}

.field-text-sign-up {
border: 1px solid white ;
width: 150px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
}

#nickname {
}

.field-text-sign-up-1 {
  border: 1px solid white ;
  width: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
    background-color: #FDDCBD;
    color: white;
    border-radius: 6px;
    display: block;
    margin-left: 175px;
  }

.field-text-sign-up-2 {
border: 1px solid white ;
width: 150px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  display: block;
  margin-left: 175px;
}
.field-text-sign-up-3 {
border: 1px solid white ;
width: 150px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  display: block;
  margin-left: 175px;
}

.form-text-wrap {
  margin-top: 20px;
}

.actions {
  text-align: center;
  margin-top: 30px;
}

.field {
  text-align: center;
}

// indexページ
.toppage {
  text-align: center;
}

.col-md-8 {
  text-align: center;
}


.login {

}

// カレンダー
.simple-calendar {
  /* 他のスタイルがあればここに追加 */

  .calendar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* 文字色を黒に設定 */
  }

  .top {
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 15px;
    color: brown;
    font-size: 100px;
  }
}

// 新規投稿画面
.timer {
  text-align: center;
  border-radius: 50px;
  margin-top: 150px;
  background-color: brown;
  width: 500px;
  height:500px;
  margin-left: 489px;
  margin-right: 489px;
  width: 500px;
}

.timer-contents {
  padding-top: 25px;
}


.read-title {
  background-color: white;
  width: 400px;
  height: auto;
  border-radius: 15px;
  color: brown;
  font-size: 35px;
  margin-left: 50px;
  // margin-top: 100px;
   
}

.timer-title {
  background-color: white;
  width: 400px;
  height: auto;
  border-radius: 15px;
  color: brown;
  font-size: 35px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 50px;
}

.timer-form {
  border-radius: 20px;
  margin-bottom: 10px;
}

.start-btn {
  color: #fff;
  background-color: #eb6100;
  border-radius: 20px;
  border: 1px solid white;
}
.start-btn:hover {
  color: #fff;
  background: #f56500;
}
.stop-btn {
  color: #fff;
  background-color: #eb6100;
  border-radius: 20px;
  border: 1px solid white;
}
.stop-btn:hover {
  color: #fff;
  background: #f56500;
}

.time {
  opacity: 0;
}

.title {
  margin-top: 10px;
}

.title-name{
  color: brown;
  background-color: white;
  width: 100px;
  margin-left: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.content-name {
  color: brown;
  background-color: white;
  width: 100px;
  margin-left: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: -15px;
}

.submit {
  margin-right: 75px;
  margin-top: -10px;
}



// 編集画面
.edit {
  text-align: center;
}

// 詳細画面
.show {
  text-align: center;
  position: relative;
}

.show-button {
  display: flex;
  flex-direction: column; /* ボタンを垂直に配置 */
  align-items: center; /* ボタンを水平・垂直方向に中央揃え */
  margin-top: 20px; /* ボタンを上に移動 */
}


.show-button a {
  text-decoration: none;
  color: white;
}

.show-button .btn {
  margin: 5px; /* ボタンの余白を調整 */
}
