@import "bootstrap";
@import "simple_calendar";

* {
  box-sizing: border-box;
 }

body {
  background-color: #FEDCBD;
}

// ヘッダー
.navbar-bran {
  background-color: white;
  width: auto;
  height: auto;
  padding-left: 5px;
  border-radius: 15px;
  color: brown;
  font-size: 35px;
  
}

// エラー画面
.error-message {
  list-style: none;
}

.text {
  list-style: none;
}




// ログイン画面 
.form-wrap {
  position: relative;
  text-align: center;
  border: 1px solid brown ;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border-radius: 50%;
}

.form-wrap-inner {
  margin: 85px 0;
}

.form-header {
  text-align: center;
}

.form-header-text {
  border: 1px solid white ;
  width: 200px;
  text-align: center;
  margin-left: 150px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;

}

.field {
  margin-bottom: 30px;
}

.field-text {
  border: 1px solid white ;
  width: 100px;
  text-align: center;
  margin-bottom: 25px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
}

form-text {
  border: 1px solid brown ;
}

.button {
}
.btn  {
  border: 1px solid white ;
  width: 150px;
  text-align: center;
  margin-left: 175px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  margin-right: 100px;
}

.actions {
  margin-right: 75px;
}

a {
  margin-right: 75px;
}

// サインアップ画面
.form-wrap-sign-up {
  position: relative;
  text-align: center;
  border: 1px solid brown ;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border-radius: 50%;
}

.form-header-text-sign-up {
  maborder: 1px solid white ;
  width: 150px;
  text-align: center;
  margin-bottom: 25px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
  margin: 15px 0 0 173px;
}

.field-text-sign-up {
border: 1px solid white ;
width: 150px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
}

.form-text-sign-up {
  
}

.field-text-sign-up-2 {
border: 1px solid white ;
width: 150px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FDDCBD;
  color: white;
  border-radius: 6px;
}

.actions {
  text-align: center;
}

.field {
  text-align: center;
}

// indexページ
.toppage {
  text-align: center;
}

.col-md-8 {
  text-align: center;
}

// カレンダー
.simple-calendar {
  /* 他のスタイルがあればここに追加 */

  .calendar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* 文字色を黒に設定 */
  }
}

// 新規投稿画面
.timer {
  text-align: center;
}

// 編集画面
.edit {
  text-align: center;
}

// 詳細画面
.show {
  text-align: center;
  position: relative;
}

.show-button {
  display: flex;
  flex-direction: column; /* ボタンを垂直に配置 */
  align-items: center; /* ボタンを水平・垂直方向に中央揃え */
  margin-top: 20px; /* ボタンを上に移動 */
}


.show-button a {
  text-decoration: none;
  color: white;
}

.show-button .btn {
  margin: 5px; /* ボタンの余白を調整 */
}
